{
    "parser": "@babel/eslint-parser",
    "extends": ["standard", "standard-jsx", "standard-react"],
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "requireConfigFile": false
    }
}